
html, body {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color:#625354ff;
    padding-top: 4rem;
}

.sub-pages {
    background-color: #ece9e9ff;
    margin: 0 3em 0 3em;
    width: auto;
}

.sub-page-img {
    border: 0.25em solid white;
}

.wheat-bg {
    background-image: url("../img/Resized_20180502_113041001.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    background-attachment: fixed;
}

.janniephoto {
    padding-right: 0px;
    padding-left: 0px;
}

.header-text {
    color: #ffffff;
}

.header-background {
    background-color: rgba(98,83,84, 0.3);
    margin-left: 0.5em;
}

#header-border {
    margin-bottom: 0px;
}

.text-container {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 90vh;
}

.border-left {
    border-width: 3px !important;
}

.li-about{
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.photo-main {
    margin: 3em 0;
}

.photo-about {
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#whatiskin-text {
    width: 80%;
}

.subpage-link-head {
    font-size: 1em;
}

.kinesio-icon {
      width: 2.5rem;
      height: 2.5rem;
      padding: 0px !important;
      margin-right: 5px;
  }

  a.text-secondary:hover {
    color: #0071e2 !important;
  }

.activ > a, a:hover, a.nav-link:hover {
    color: #0071e2 !important;
    text-decoration: none;
}

.nav {
    font-size: 2rem;
}

footer lh {
    font-size: 1.25em;
    padding-bottom: 0.5em;
}

.what-is {
    display: flex;
    align-items: center;
    justify-content: center;
}

.om-jannie {
    margin-bottom: 0px !important;
    padding-right: 2em;
    padding-bottom: 2em;
}

.edu-list {
    padding-right: 2em;
    padding-bottom: 2em;
}

/*grid container*/

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item-2 {
    grid-column: 2;
    grid-row: 1 / span 2;
}

/*media queries*/

@media only screen and (max-device-width: 996px) {
    .sm-main{
        text-align: center;
    }

    #contact-border {
        border-width: 0px !important;
    }

    #further-info {
        border-width: 0px !important;
    }

    .om-jannie {
        text-align: center;
        margin-left: 0px !important;
        padding-right: 1em;
        padding-left: 1em;
    }

    #contact {
        text-align: center;
    }

    .sub-pages {
        margin: 0 2em 0 2em;
    }

    .edu-list {
        text-align: center;
        padding-top: 1em;
    }

    .li-about {
        list-style-type: none;
        margin-left: 0px;
    }

    .what-is-img {
       max-width: 100%;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .grid-item-2 {
        grid-column: auto;
        grid-row: auto;
        align-self: center;
        justify-self: center;
    }
    
}


 




  
